block vars

extends layout

block content

	mixin ltr(letter,delay)
		span(data-aos-once data-aos="flip-right" data-aos-duration="600" data-aos-delay=delay)
			span.letter= letter
			span.shadow= letter
	.grid
		+ltr('P','0')
		+ltr('h','100')
		+ltr('I','200')
		+ltr('l','300')
		+ltr('M','400')
		+ltr('e','500')
		+ltr('i','600')
		+ltr('s','7000')
		+ltr('S','800')
		+ltr('n','900')
		+ltr('E','1000')
		+ltr('r','1100')
		//
			span(data-aos-once data-aos="flip-right" data-aos-duration="600" data-aos-delay=delay)
				span
					include img/designer-community-behance.svg
			span(data-aos-once data-aos="flip-right" data-aos-duration="600" data-aos-delay=delay)
				span
					include img/designer-community-behance.svg
			span(data-aos-once data-aos="flip-right" data-aos-duration="600" data-aos-delay=delay)
				span
					include img/designer-community-behance.svg

	.switch__container
		input#switch.switch(type="checkbox")
		label#test(for="switch")
